# Arquivo de Exemplo de Configuração de Ambiente para o Suri Tools
# Renomeie este arquivo para .env e preencha as variáveis de forma segura.

# Credenciais de Acesso da API do portal.suri.ai
VITE_SURI_API_EMAIL=seu_email@suri.ai
VITE_SURI_API_PASSWORD=sua_senha_secreta
